@charset "UTF-8";



/*   reset   */
*, html, body {
    margin:0;
    padding:0;
    font-family: 'SUIT Variable', sans-serif;
    scroll-behavior: smooth;
    cursor:default;
}

a, a:link, a:visited {
    color:rgba(255, 255, 255, 1);
    text-decoration:none;
    cursor: pointer !important;
}

img { image-rendering: auto; }

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
*::-webkit-scrollbar {
    display: none;
}

.scroll {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

button, button:active, button:focus {
    all:unset;
}